/* About Section */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6d2b8;
  padding: clamp(2rem, -2.25rem + 13.6vw, 6.25rem);
  position: relative;
}

#about::before {
  content: " ";
  background-color: #e5975f;
  height: clamp(9.375rem, -1.8125rem + 35.8vw, 20.5625rem);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#about .picture-left {
  width: 100%;
  padding: 0 20px;
  position: relative;
}

#about-me {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me__title {
  margin: 1em 0 60px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.about-me__introduction {
  font-size: 16px;
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
  position: relative;
  line-height: 1.2;
}

#about-me p {
  font-size: 14px;
  position: relative;
  line-height: 1.3rem;
}

/* Responsive Styles */

@media (min-width: 650px) {
  #about .picture-left {
    width: 60%;
  }
}

@media (min-width: 1000px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #about::before {
    width: 374px;
    top: unset;
    bottom: 0;
  }

  #about .picture-left {
    width: 100%;
  }
  .about-me__title {
    margin: 0 0 10px 0;
    text-align: left;
  }
}

@media (min-width: 1180px) {
  #about {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }

  #about-me {
    height: auto;
    width: 85%;
    align-self: flex-start;
    margin-top: clamp(0rem, -2.9899rem + 4.0541vw, 1.875rem);
  }
  .about-me__title {
    margin-bottom: clamp(0.625rem, -1.3682rem + 2.7027vw, 1.875rem);
  }
  .about-me__introduction {
    width: 80%;
  }
}
