.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filters button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button.active {
  background-color: #beb45a;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-inline: clamp(0.9375rem, -5.1144rem + 19.3662vw, 18.125rem);
}

.gallery-content picture {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.gallery-content picture img {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
}

@media (min-width: 575px) {
  .gallery-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .gallery-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
