/* Header */
.top-header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 30px;
  padding-inline: clamp(0.625rem, -4.7424rem + 17.1756vw, 6.25rem);
}

.top-header .name {
  font-size: 26px;
  font-weight: 100;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header .nav {
  font-size: clamp(0.875rem, 0.7557rem + 0.3817vw, 1rem);
}

.top-header .nav ul {
  display: flex;
  gap: 20px;
}

.top-header .nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Social Links */
.social-link img {
  width: clamp(0.875rem, 0.7557rem + 0.3817vw, 1rem);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .top-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
