/* Lightbox */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  padding: 15px;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.lightboxImage {
  width: 100%;
  height: auto;
}

.mg-prev,
.mg-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  z-index: 10000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mg-prev {
  left: -20px;
}

.mg-next {
  right: -20px;
}

.mg-prev svg,
.mg-next svg {
  width: 100%;
  height: 100%;
  fill: #aaaaaa9e;
}
