/* Quote */
.quote {
	font-family: 'Spectral', serif;
	font-style: italic;
	width: 70%;
	margin: auto;
	padding: 3em 0;
	text-align: center;
}

.quote__text {
	font-weight: 300;
}

.quote__author {
	font-weight: 800;
	font-size: 22px;
}
